body {
    padding-left: 10vw;
    background-color: #121212;
    color: white;
}

header {
    margin: 5vh 0;
}

h4 span {
    font-size: 14px;
}

.red {
    color: #f54f62;
}

.link-button {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: black;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #f54f62;
    border-radius: 4px;
    border: 1px solid #f54f62;
    cursor: pointer;
    box-sizing: border-box;
}

.link-button:hover {
    background-color: #A63542;
    border-color: #A63542;
    color: black;
}

#totalArtists::before {
    content: "(";
}

#totalArtists::after {
    content: ")";
}


.artist-card {
    max-width: 650px;
    min-width: 550px;
    margin-left: 10vw;
}

.artist-card div {
    width: 100%;
}

.artist-card div input {
    color: black !important;
}

.artist-card div input[type=button] {
    margin-left: 3%;
}

.artist-card ul {
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-flow: column nowrap;
}

.artist-card ul li {
    width: 100% - 2vw;
    margin: 1px;
    padding: 2px 1vw;
    background-color: #181818;
    border-radius: 4px;
}

.artist-card ul a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

.artist-card ul a:hover {
    color: #f54f62;
}

.artist-card ul p {
    display: inline-block;
    margin: 0;
    opacity: 65%;
}

.artist-card ul input[type="button"] {
    width: 18px;
    height: 18px;
    margin: 4px 0 0 0;
    padding: 0;
    background-color: #181818;
    border-color: #181818;
    line-height: 18px;
    text-align: center;
    color: #f54f62;
}

.artist-card ul input[type="button"]:hover {
    width: 18px;
    height: 18px;
    margin: 4px 0 0 0;
    padding: 0;
    background-color: #f54f62;
    border-color: #f54f62;
    line-height: 18px;
    text-align: center;
    color: #181818;
}

/*Skeleton Overwrites*/
input[type="button"].button-primary {
    background-color: #f54f62;
    border-color: #f54f62;
}
input[type="button"].button-primary:hover {
    background-color: #A63542;
    border-color: #A63542;
}
input[type="button"].button-primary:focus {
    background-color: #A63542;
    border-color: #A63542;
}