{{template "header" .}}
<div class="row">
    <div class="six columns artist-card">
        <div class="row">
            <h4 class="three columns">Artists <span id="totalArtists">{{.TotalArtists}}</span></h4>
            <input class="button-primary u-pull-right" id="addBTN" type="button" value="Add">
            <input class="six columns u-pull-right" id="SUI" type="text" placeholder="Artist's Spotify URI">
        </div>

        <ul id="artistList">
            {{range .Artists}}
            <li data-sui="{{.SUI}}">
                <a class="six columns" href="https://open.spotify.com/artist/{{.SUI}}">{{.Name}}</a>
                <p class="five columns">{{.SUI}}</p>
                <input class="one column u-pull-right removeBTN" type="button" value="X">
            </li>
            {{end}}
        </ul>
    </div>

    <div class="six columns trackreview-card">
        <div class="row">
            <h4 class="three columns">Track Reviews <span id="totalTracks">{{.TotalTracks}}</span></h4>
        </div>

        <ul id="trackReviewsList">
            {{range .TrackReviews}}
            <li data-sui="{{.SUI}}">
                <a class="six columns" href="https://open.spotify.com/track/{{.SUI}}">
                    <img src="{{.ImageURL}}" alt="https://via.placeholder.com/150">
                    <div>
                        <span>{{.Name}}</span>
                        <span>
                            {{range .Artists}}
                            {{.Artist}}, 
                            {{end}}
                        </span>
                    </div>
                </a>
                <input class="one column u-pull-right approveBTN" type="button" value="Approve">
            </li>
            {{end}}
        </ul>
    </div>

    <div class="six columns"></div>
</div>
{{template "footer"}}